@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* a {
  text-decoration: none;
  color: inherit;
}

/* appear Menu Restaurant */
@keyframes appearMEnu {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes closedLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}
/* font familly */
.mainResto, .map-location, .reservation, .reservation__title, .choice, .restaurant, .contact {
  font-family: "Roboto", sans-serif, verdana;
}

.loading, .mainResto__Title, .contact__title, header {
  font-family: "Shrikhand", cursive;
}

/* contouring box */
.mainResto__menu, .restaurant--select, .reservation__btn, .command__btn, .choice__listBtn li, .menu__listBtn li, .restaurant--buttonCardNew {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.loading, .reservation__btn, .command__btn {
  background-image: linear-gradient(360deg, #9356DC 35%, #FF79DA 100%);
}

header {
  text-align: center;
  padding: 2rem;
  position: relative;
}

/* footer */
.contact {
  background-color: #353535;
  color: white;
  padding: 1rem;
}
.contact__title {
  padding: 1em 0.5em;
  font-size: 130%;
}
.contact__link {
  padding: 0.5rem;
}
.contact__link .fas {
  padding-right: 0.5em;
}

/*  section map marker */
.map-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  padding: 1rem;
}

/* section reservation & button */
.reservation {
  padding: 2rem 2rem 5rem;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__sub {
  padding: 1em;
  margin-bottom: 1em;
}

/* choice */
.choice {
  margin: 1rem;
}
.choice__listBtn {
  display: flex;
  margin: 2rem;
  justify-content: space-around;
  counter-reset: compteListe;
}
@media (max-width: 800px) {
  .choice__listBtn {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
.choice__listBtn li {
  margin: 1rem;
}

/* Restaurant */
.restaurant {
  background-color: #f6f6f6;
  margin: 2rem 0 0 0;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.restaurant--select {
  position: relative;
}
@media (max-width: 800px) {
  .restaurant--select {
    grid-column: 1/-1;
  }
}
.restaurant--buttonCardNew {
  position: absolute;
}
.restaurant__title {
  grid-column: 2 span;
}

header {
  position: relative;
}
header .fas {
  position: absolute;
  top: 30%;
  left: 5%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.mainResto {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  padding-bottom: 5rem;
  position: relative;
  margin-top: -3rem;
  /* heart empty */
  /* heart full */
}
.mainResto__Title {
  padding: 3rem 2rem;
}
.mainResto .emptyHeart {
  top: 3.5vh;
  right: 5vw;
}
.mainResto .fullHeart {
  top: 3.5vh;
  right: 5vw;
}
.mainResto__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.mainResto__card h3 {
  font-weight: 300;
  margin: 2rem 0 3rem 1rem;
}
.mainResto h3::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  border-bottom: 3px solid #99E2D0;
}
.mainResto__select {
  margin: 1rem;
  overflow: hidden;
}
@media (max-width: 800px) {
  .mainResto__select {
    grid-column: 1/-1;
    margin: 0;
  }
}
.mainResto__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 1em;
  margin: 1rem;
  padding: 1em;
  overflow: hidden;
  background-color: white;
  animation: appearMEnu 5s;
  animation-fill-mode: both;
}
.mainResto__menu:hover {
  cursor: pointer;
}
.mainResto__menu:hover .mainResto__checkout, .mainResto__menu:hover .mainResto__price {
  transform: translateX(-5em);
  transition: transform 1s;
}
.mainResto__menu:hover .fa-check-circle {
  color: white;
  transform: rotate(360deg);
  transition: transform 1000ms ease-in-out;
}
.mainResto__description {
  overflow: hidden;
}
.mainResto h4 {
  padding-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainResto__price {
  display: flex;
  font-weight: bold;
}
.mainResto p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainResto__checkout {
  display: grid;
  place-items: center;
  position: absolute;
  border-radius: 0 1em 1em 0;
  background-color: #99E2D0;
  height: 100%;
  width: 5em;
  right: -5em;
  bottom: 0;
}
.mainResto__checkout .fa-check-circle {
  color: white;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}

.command {
  display: grid;
  justify-content: center;
  margin-top: 2em;
}

.reservation__btn, .command__btn {
  border-radius: 2rem;
  color: white;
  padding: 1em 3em;
}
.reservation__btn:hover, .command__btn:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.choice__listBtn li, .menu__listBtn li {
  position: relative;
  padding: 1.5rem 2rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  font-weight: bold;
}
.choice__listBtn li .fas, .menu__listBtn li .fas {
  padding-right: 1rem;
  color: #7e7e7e;
}
.choice__listBtn li::before, .menu__listBtn li::before {
  position: absolute;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background-color: #9356DC;
  color: white;
  border-radius: 50em;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50px, -7px);
}
.choice__listBtn li:hover, .menu__listBtn li:hover {
  background-color: #f5edff;
}
.choice__listBtn li:hover .fas, .menu__listBtn li:hover .fas {
  color: #9356DC;
}

.restaurant--buttonCardNew {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 0.1em;
  padding: 0.6em 0.8em;
  font-weight: bold;
  top: 20px;
  right: 10px;
}

.restaurant {
  /* heart empty */
  /* heart full */
}
.restaurant--select {
  position: relative;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
}
.restaurant img {
  object-fit: cover;
  height: calc(100% - 5rem);
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 1em 1em 0 0;
}
.restaurant h3, .restaurant p {
  margin: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant .emptyHeart {
  bottom: 30px;
  right: 10px;
}
.restaurant .fullHeart {
  bottom: 30px;
  right: 10px;
}

/* heart empty far */
.emptyHeart {
  position: absolute;
  opacity: 1;
}
.emptyHeart:hover {
  opacity: 0;
}

/* heart full fas */
.fullHeart {
  position: absolute;
  color: red;
  opacity: 0;
}
.fullHeart:hover {
  opacity: 0.33;
}

.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.55;
  z-index: 1;
  font-size: xxx-large;
  animation: closedLoading 3s forwards;
}
.loading span {
  display: inline-block;
  margin: 0.5em;
  color: #99E2D0;
}
.loading span {
  animation: loading 0.7s infinite;
}
.loading span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading span:nth-child(8) {
  animation-delay: 0.7s;
}

/*# sourceMappingURL=style.css.map */
