@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* a {
  text-decoration: none;
  color: inherit;
}

/* font familly */
.map-location, .reservation, .reservation__title, .choice, .restaurant, .contact {
  font-family: "Roboto", sans-serif, verdana;
}

.contact__title, header {
  font-family: "Shrikhand", cursive;
}

/* contouring box */
.restaurant--select, .reservation__btn, .choice__listBtn li, .restaurant--buttonCardNew {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.reservation__btn {
  background-image: linear-gradient(360deg, #9356DC 35%, #FF79DA 100%);
}

header {
  text-align: center;
  padding: 2rem;
  position: relative;
}

/* footer */
.contact {
  background-color: #353535;
  color: white;
  padding: 1rem;
}
.contact__title {
  padding: 1em 0.5em;
  font-size: 130%;
}
.contact__link {
  padding: 0.5rem;
}
.contact__link .fas {
  padding-right: 0.5em;
}

/*  section map marker */
.map-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  padding: 1rem;
}

/* section reservation & button */
.reservation {
  padding: 2rem 2rem 5rem;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__sub {
  padding: 1em;
  margin-bottom: 1em;
}

/* choice */
.choice {
  margin: 1rem;
}
.choice__listBtn {
  display: flex;
  margin: 2rem;
  justify-content: space-around;
  counter-reset: compteListe;
}
@media (max-width: 800px) {
  .choice__listBtn {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
.choice__listBtn li {
  margin: 1rem;
}

/* Restaurant */
.restaurant {
  background-color: #f6f6f6;
  margin: 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.restaurant--select {
  position: relative;
}
@media (max-width: 800px) {
  .restaurant--select {
    grid-column: 1/-1;
  }
}
.restaurant--buttonCardNew {
  position: absolute;
}
.restaurant__title {
  grid-column: 2 span;
}

.reservation__btn {
  border-radius: 2rem;
  color: white;
  padding: 1em;
}
.reservation__btn:hover {
  opacity: 0.6;
  zoom: 1.02;
}

.choice__listBtn li {
  position: relative;
  padding: 1.5rem 2rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  font-weight: bold;
}
.choice__listBtn li .fas {
  padding-right: 1rem;
  color: #7e7e7e;
}
.choice__listBtn li::before {
  position: absolute;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background-color: #9356DC;
  color: white;
  border-radius: 50em;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50px, -7px);
}
.choice__listBtn li:hover {
  background-color: #f5edff;
}
.choice__listBtn li:hover .fas {
  color: #9356DC;
}

.restaurant--buttonCardNew {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 0.1em;
  padding: 0.6em 0.8em;
  font-weight: bold;
  top: 20px;
  right: 10px;
}

.restaurant--select {
  position: relative;
  background-color: white;
  border-radius: 1em;
}
.restaurant img {
  object-fit: cover;
  height: calc(100% - 5rem);
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 1em 1em 0 0;
}
.restaurant h3, .restaurant p {
  margin: 0.5em;
}
.restaurant .far {
  position: absolute;
  bottom: 30px;
  right: 10px;
}
.restaurant .fas {
  position: absolute;
  opacity: 0;
  bottom: 30px;
  right: 10px;
}
.restaurant .fas:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
