/* font familly */

%title-1{
    font-family: 'Roboto', sans-serif,verdana;
}

%title-2 {
    font-family:'Shrikhand', cursive;
}
/* contouring box */

%boxShadow {

    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}