//fonts
//$font-1:'Roboto', sans-serif,verdana;
$font-2:'Shrikhand', cursive;

//colors 
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color_text: white;
$background-light: #f3f3f3;
$background-clear:#f6f6f6;
$background-btn-hover:#f5edff;