// @use "../abstracts/variables";
// @use "../abstracts/mixins";

@use "../abstracts";

* a {
    text-decoration: none;
    color: inherit; //à definir selon le projet
}

header {
    text-align: center;
    font-family: abstracts.$font-2;
    padding : 2rem;
    position: relative;
    @include abstracts.box-shadow();
}