// @use "../abstracts/variables";
// @use "../abstracts/mixins";

@use "../abstracts";

header {
    text-align: center;
    font-family: abstracts.$font-2;
    padding : 2rem;
    position: relative;
    @include abstracts.box-shadow();
}