@use "../abstracts";

// button Explorer & command

.reservation,
.command {
	&__btn {
		@extend %linearGradiant;
		border-radius: 2rem;
		color: abstracts.$color_text;
		padding: 1em 2em;
		@extend %boxShadow;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
			@extend %boxShadowDark;
		}
	}
}

// part Fonctionnement choice

.choice {
	&__listBtn {
		display: flex;
		margin: 2rem;
		justify-content: space-around;
		//css add increment value
		counter-reset: compteListe;

		@media (max-width: 800px) {
			@include abstracts.mediaWidth;
		}

		& li {
			position: relative;
			padding: 1.5rem 2rem;
			background-color: abstracts.$background-clear;
			border-radius: 1rem;
			font-weight: bold;
			@extend %boxShadow;

			& .fas {
				padding-right: 1rem;
				color: abstracts.$color-icon;
			}

			&::before {
				position: absolute;
				counter-increment: compteListe 1;
				content: counter(compteListe) " ";
				background-color: abstracts.$color-primary;
				color: abstracts.$color_text;
				border-radius: 50em;
				height: 2em;
				width: 2em;
				@include abstracts.flexMid;
				transform: translate(-50px, -7px);
			}

			&:hover,
			&:focus,
			&:active {
				background-color: abstracts.$background-btn-hover;

				& .fas {
					color: abstracts.$color-primary;
				}
			}
		}
	}
}
