@use "../abstracts";

// Restaurant 

.restaurant {

    &--select {
        background-color: abstracts.$color_text;
        border-radius: 1em; 
        @extend %boxShadow;
    }

    & img {

        object-fit: cover;
        height: calc(100% - 5rem);
        width: 100%;
        aspect-ratio: 1/0.5;
        border-radius: 1em 1em 0 0;

    }

    & .far {
        
        position: relative;
        

        &:hover {

            @extend %linearGradiant;

            
        }
    }
    
}