@use "../abstracts";

/* heart empty far */

.emptyHeart {
	position: absolute;
	// visible
	opacity: 1;

	&:hover,
	&:focus,
	&:active {
		// no visible
		opacity: 0;
	}
}

/* heart full fas */

.fullHeart {
	position: absolute;
	@extend %linearGradiantHeart;
	// property background-image
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	// no visible
	opacity: 0;

	&:hover,
	&:focus,
	&:active {
		// visible
		opacity: 1;
		transform: scale(1.06);
		transition: all 1s ease-out;
	}
}
