@use "../abstracts";
@use "../abstracts/placeholders";

//loading spinner

.loading {
	@extend %title-2;
	position: fixed;
	@include abstracts.flexMid;
	height: 100%;
	width: 100%;
	@extend %linearGradiant;
	opacity: 0.55;
	z-index: 10;
	font-size: xxx-large;
	animation: closedLoading 3s forwards;

	// span loading spinner

	span {
		display: inline-block;
		margin: 0.5em;
		color: abstracts.$color-tertiary;
		animation: jumpCase 0.7s infinite;

		@for $i from 0 through 6 {
			// loop case loading
			&:nth-child(#{$i + 1}) {
				animation-delay: #{$i * 0.1}s;
			}
		}
	}
	@media (max-width: 800px) {
		font-size: x-large;
	}

	@media (max-width: 300px) {
		font-size: medium;
	}
}
