@use "../abstracts";
@use "../abstracts/placeholders";

img {
    max-width: 100%;
    object-fit: cover;

}

.mainResto {

    @extend %title-1;
    background-color: abstracts.$background-clear;
    border-radius: 5rem 5rem 0 0 ;
    position: relative;
    top: -100px;

    &__Title {
        
        @extend %title-2;

}
    &__card {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        h3 {

            //position: relative;
            font-weight: 300;
            margin: 2rem 0 3rem 1rem;
        }
}



    h3::before {

    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    border-bottom: 3px solid abstracts.$background-card;
    }
    

    &__select {
        
        margin: 1rem;

        @media (max-width: 800px) {
            grid-column: 1/-1;

    }

        }

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-radius: 1em;
            margin: 2rem;
            padding: 1.5em;
            background-color: abstracts.$color_text !important;
            @extend %boxShadow;

        }

        &__price{
                display: flex;
                font-weight: bold;
            }



}



