@use "../abstracts";
@use "../abstracts/placeholders";

header {
    position :relative;

    .fas {
    position :absolute;
    top: 30%;
    left: 5%;
    }
}

img {
    max-width: 100%;
    object-fit: cover;

}

.mainResto {

    @extend %title-1;
    background-color: abstracts.$background-clear;
    border-radius: 2rem 2rem 0 0 ;
    padding-bottom: 5rem;
    position: relative;
    margin-top:-3rem;
    
    

    &__Title {
        
        @extend %title-2;
        padding : 3rem 2rem;
    }

    &__card {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        h3 {

            font-weight: 300;
            margin: 2rem 0 3rem 1rem;
        }
    }



    h3::before {

    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    border-bottom: 3px solid abstracts.$background-card;
    }
    

    &__select {
        
        margin: 1rem;
        overflow: hidden;

        @media (max-width: 800px) {
            grid-column: 1/-1;
            margin:0;

    }

        }

        &__menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-radius: 1em;
            margin: 1rem;
            padding: 1em ;
            overflow: hidden;
            background-color: abstracts.$color_text ;
            @extend %boxShadow;

            &:hover {

                cursor: pointer;

                .mainResto__checkout , .mainResto__price  {

                transform: translateX(-5em);
                transition: transform 1s;
            }

            .fas{

                color:white;
                transform: rotate(360deg);
                transition: transform 1000ms ease-in-out;
            }

            
                
            }

        }

        &__description {
            overflow: hidden;

        }

        & h4 {
            padding-bottom: 0.5em;
            @include abstracts.ellipsis;
        }

        &__price{
                display: flex;
                font-weight: bold;
            }

        & p {
            @include abstracts.ellipsis;
        }

        &__checkout {
            display: grid;
            place-items: center;
            position: absolute;
            border-radius: 0 1em 1em 0;
            background-color: abstracts.$background-card;
            height : 100%;
            width: 5em;
            right: -5em;
            bottom: 0;
            
        }

            .fas{

                color:white;
                transform: rotate(0deg);
                transition: transform 500ms ease-in-out;
            }

}
        
        
        
.command {

    display: grid;
    justify-content: center;
    margin-top : 2em;
}



